.empleos-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
	align-content: flex-start;
	margin-top: 50px;
    flex-wrap: wrap;
}

.card {
	width: 150px;
	box-shadow: 10px 10px 20px #ccc;
	border:3px solid var(--main-color);
	
    text-align: center;
    margin: 30px;
    border-radius: 5px;
	background-color: var(--second-color);
	transition: transform 0.8s;
    
}
.card:nth-child(odd){
    transform: rotate(4deg);
}

.card:nth-child(even){
    transform: rotate(-4deg);
}

.card:hover {
	transition: transform 0.8s;
	transform: rotate(0deg);
	transform: scale(1.2);
}
.card a{
    color:var(--main-color);
}
.card a .txt{
    padding: 5px;
}
img {
	max-width: 100%;
}