
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    min-height: 100vh;
    
}

.intro{
    margin-top:50px;
}
.listado-categorias{
    margin-top:20px;
}
.listado-categorias .row{
    margin-top: 20px;
}

header h1{
    margin-left: auto;
    margin-right: auto;
}
.intro-opc{
    margin: 40px;
}


.card {
	transition: transform 0.8s;
}



.listado-categorias .row .col:nth-child(odd) .card:hover {
	transition: transform 0.8s;
	transform: rotate(0deg);
	transform: scale(1.1);
}
.listado-categorias .row .col:nth-child(even) .card:hover {
	transition: transform 0.8s;
	transform: rotate(0deg);
	transform: scale(1.1);
}
.listado-categorias .row .col:nth-child(odd) .card{
    transform: rotate(2deg);
}
.listado-categorias .row .col:nth-child(even) .card{
    transform: rotate(-2deg);
}
.card img {
	max-width: 100%;
    height: 150px;
}
.card a{
    color:#000;
    text-decoration: none;
}
