:root {
	--main-color: #258FE8;
	--second-color: #E8C11A;
	--text-color: #828282;
    --light-color: #FFF;
    
}
@font-face {
    font-family: "Roboto";
    src:url("../assets/fonts/Roboto-Regular.ttf");
  }
*{
    margin:0px;
    padding: 0px;
    font-family: "Roboto",sans-serif;
    text-decoration: none;
}
body a{
    color:var(--main-color);
}

.container header{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--second-color);
}
.container header h1{
    font-size: 50px;
}
.container header .logo{
    width: 80px;
}
.index-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
.index-section_item{
    padding: 10px;
    background-color: var(--main-color);
    width: 200px;
    text-align: center;
    
}
.index-section_item a{
    
color:var(--second-color);    
}
