:root {
	--main-color: #258FE8;
	--second-color: #E8C11A;
	--text-color: #828282;
    --light-color: #FFF;
    --dark-color:#000;
    
}
@font-face {
    font-family: "Roboto";
    src:url("../assets/fonts/Roboto-Regular.ttf");
  }
*{
    margin:0px;
    padding: 0px;
    font-family: "Roboto",sans-serif;
    text-decoration: none;
}

body a{
    color:var(--main-color);
}

.container header{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--second-color);
    height: 70px;
}
.container header h1{
    font-size: 40px;
}
.container header .logo{
    width: 80px;
}
.index-section{
    background: url(../assets/images/recruit.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}

.index-section_item a{
    display: block;
    padding: 10px;
    background-color: var(--main-color);
    width: 200px;
    text-align: center;
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: -1px -1px rgba(0,0,0,.2);  /* Sombra del texto */
	border-radius: 5px;  /* Bordes redondos */
    color:var(--dark-color);    
    
}
.index-section_item a:active /* Al presionarse el botón */ {
	text-shadow: 1px 1px rgba(0,0,0,.3);  /* Sombra del texto */
	background:var(--second-color);  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
}

.empleos-section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
	align-content: flex-start;
	margin-top: 50px;
    flex-wrap: wrap;
}

.card {
	width: 150px;
	box-shadow: 10px 10px 20px #ccc;
	border:10px solid var(--main-color);
	border-bottom:5px solid var(--main-color);
    text-align: center;
    margin: 30px;
	
	transition: transform 0.8s;
}
.card:nth-child(odd){
    transform: rotate(4deg);
}

.card:nth-child(even){
    transform: rotate(-4deg);
}

.card:hover {
	transition: transform 0.8s;
	transform: rotate(0deg);
	transform: scale(1.2);
}
.card a{
    color:var(--dark-color);
}
.card a .txt{
    padding: 5px;
}
img {
	max-width: 100%;
}

.mh{
    min-height: calc(100vh - 120px);
}

.container .login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login{
    display: block;
    padding: 50px;
    padding-top: 80px;
    background-color: var(--main-color);
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: -1px -1px rgba(0,0,0,.2);  /* Sombra del texto */
	border-radius: 5px;  /* Bordes redondos */
    color:var(--dark-color);    
}
#formLogin{
    display: flex;
    flex-direction: column;
}
.form-login_item input{
    padding: 10px;
    background-color: var(--second-color);
    border-bottom:1px solid var(--second-color);
    outline: 1px;
}
.redondeadonorelieve {
    border-radius: 5px;
    border: 1px solid #39c;
  }

footer{
    background-color:var(--second-color);
    height: 50px;
    
}
