


.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
img.logo{
  width: 80px;
}

.sidenav {
  grid-area: sidenav;
  background-color: var(--main-color);
  
}

.main {
  grid-area: main;
  background-color: var(--third-color);
}
.footer {
  grid-area: footer;
  background-color: var(--second-color);
}
@media only screen and (max-width: 600px) {
 .grid-container-close{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  transition: 2s;
 }
 .sidenav-close{
   position: fixed;
   width: 240px;
   min-height: 100vh;
   transition: 2s;
 }
}