

.sidenav {
  background-color: var(--main-color);
  color: var(--text-color);
  min-height: 100vh;
  position:fixed;
  top:0;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
  width: 200px;
  transform: translateX(-200px);
  transition: 0.6s;
}
.sidenav .fa-times{
  color:var(--second-color);
}

.sidenav ul {
  display: flex;
 
  flex-direction: column;
}
.sidenav ul li{
  list-style: none;
  margin-top:37px;
  margin-bottom:20px;
  width: 100%;
}
.sidenav a{
  padding: 15px;
  color:var(--text-color);
  font-size: 18px;
  background-color: var(--light-color);
  display: block;
}
.sidenav a:hover{
  background-color: var(--dark-color);
  
}
.sidenav .active{
  background-color: var(--dark-color);
  
}
.header .options{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  background-color: var(--second-color);
  transition: 0.6s;
  color:var(--main-color);
}

.main {
  background-color: var(--dark-color);
  transition: 0.6s;
}
.footer {
  display: flex;
  background-color: var(--second-color);
  transition: 0.6s;
}
.open{
  transform: translateX(0);
  transition: 0.6s;
}
.open-main{
  margin-left: 200px;
  transition: 0.6s;
}
.name-logo{
  display: flex;
  align-items: center;
}
.hide{
  display: none;
}

.sidenav .fa-times{
  position: relative;
  top:20px;
  left: 170px;
}

img.logo{
  width: 80px;
}
/* Extra small devices (phones, 660px and down) */
@media only screen and (max-width: 660px) {
  .show-mobile{
    display: block;
  }
  .open-main{
    margin-left: 0px;
  }
  .open{
    transform: translateX(-200px); 
  }
  .open-main-mobile{
    transform: translateX(0px);
  }
}


