


.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
  
  transition: 0.6s;
}

.sidenav {
  grid-area: sidenav;
  background-color: var(--main-color);
  width: 240px;
  min-height: 100vh;
  transform: translateX(0px);
  transition: 0.6s;  
}
.grid-container-close{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
    height: 100vh;
    transform: translateX(-260px);
    transition: 0.6s;
}
.sidenav-close{
  display: none;
  
  transition: 0.6s;
}
.header {
  grid-area: header;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
img.logo{
  width: 80px;
}



.main {
  grid-area: main;
  background-color: var(--third-color);
}
.footer {
  grid-area: footer;
  background-color: var(--second-color);
}
